html {
    background-image: url(Groceries-04-19-14-2-1280.jpg);
}

body {
    width: 85%;
    margin: auto;
    margin-top: 2em;
    padding-bottom: 1em;
    background-color: rgba(0, 0, 0, .90);
    border-radius: 500px;
}

main {
    margin: auto;
    width: 50%;
}

h1 {
    text-align: center;
    color: white;
}

#input {
    width: 100%;
    margin: auto;
}

#add {
    margin: auto;
    display: block;
    height: 50px;
}

.grocery {
    color: #f0ebe7;
    font-weight: bold;
    font-size: 1.5em;
/*    white-space: nowrap;*/
    text-overflow: ellipsis;
    overflow: hidden;
}

.deleteButton,
#add {
    background-color: rgba(19, 121, 243, .5);
    color: white;
    padding: .75em;
    font-weight: bold;
    border-radius: 40%;
    transition: .5s;
    margin-bottom: .5em;
}

#add:hover,
.deleteButton:hover {
    background-color: rgba(243, 157, 0, .5);
    color: black;
}

#list {
    list-style: none;
    padding-left: 0;
}