body {
    text-align: center;
    font-family: times;
    background-color: beige
}
.one,.two,.three {
    display: inline-block;
    width: 30%;
    margin:1em;
    text-align: justify;
}
.one {
    float: left;
}
img {
    float:right;
    width: 100%;
}
.image {
    font-style:italic;
    text-align: center;
}
.three {
    float: left;
}
.container {
    height: 25em;
}
h1 {
    border: solid;
}
.two {
    float: left;
}