body {
    background-image: url(7967cd04-1e4b-4a76-8f76-e11104d7ad6e.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: "Bebas Neue"
}

.nav {
    background-color: #ED4198;
    color: white;
    position: fixed;
     top: 0;
    left: 0;
    z-index: 100000;
    width: 100%;

}

ul {
    list-style: none;
    padding: none;
    text-align: left;
}

li {
    display: inline-block;
}

a {
    color: white;
    font-size: 2em;
    padding-left: 2em;
    padding-right: 2em;
}

a:hover,
a:focus,
a:active {
    color: rebeccapurple;
    text-decoration: none;
}

.form-control {
    width: 75%;
    margin: auto;
    margin-top: 2em;
    border: solid 2px #ED4198;
}

form {
    text-align: center;
    background-color: rgba(255, 255, 255, .95);
    padding: 2em;
    width: 50%;
    margin: auto;
    margin-top: 15%;
    border-radius: 200px;
    box-shadow: 0 0 100px 50px white;
}

.btn {
    font-size: 1.5em;
    padding: .5em;
    letter-spacing: .2em;
}

form .btn {
    margin-top: 2em;
    background-color: #ED4198;
    color: white;
    font-weight: bolder;
    border: none;
    font-size: 2em;
    letter-spacing: .2em;
    padding: .5em;
}

div {
    text-align: center;
}

.btn:hover,
.btn:active,
.btn:focus {
    background-color: white;
    color: #ED4198;
    border: 1px solid #ed4198;
}

.viewDiv {
    display: inline-block;
    padding: 1em;
    height: 450px;
    vertical-align: middle;
    position: relative;
}

img {
    max-width: 100%;
    max-height: 300px;
}

p {
    text-align: center;
    font-size: 2em;
}

.favorites {
    background-color: rgba(255, 255, 255, .85);
    width: 95%;
    margin: auto;
    margin-top: 5em;
    border-radius: 200px;
    padding: 1em;
    position: relative;
}

h1 {
    text-align: center;
}

.image {
    height: 300px;
}

.center {
    width: 35%;
    margin: auto;
}

.help-block {
    position: absolute;
    color: red;
}