body {
    background-color: #FFFFFF;
}

.h1 {
    margin-top: 4em;
    text-align: center;
    font-size: 3em;
    color: #3D4C53;
}

h2 {
    color: #F1433F;
}

.navbar {
    background-color: #70B7BA;
    width: 100%;
    position: fixed;
    z-index: 2;
    border-bottom: 1px solid gray;
    border-radius: 5px;
    box-shadow: -1px 1px 1px 1px;
    text-align: center;
    margin-bottom: 0px;
}

#foot {
    margin-bottom: 0px;
    position: fixed;
    left: 0;
    bottom: 0;
    border-bottom: 1px solid gray;
    border-radius: 5px;
    box-shadow: -1px -1px 1px 1px;
}

a {
    color: #FFFFFF;
    vertical-align: middle;
    font-size: 2em;
    text-align: center;
}

a:hover {
    color: #E7E1D4;
    text-decoration: none;
}

footer a {
    color: #FFFFFF;
    vertical-align: middle;
    font-size: 1em;
    text-align: center;
    line-height: 2.5;
    margin-top: 5em;
}

img {
    width: 200px;
    height: 200px;
}

img.btn {
    
    border-radius: 1000px;

}

img:hover {
/*    background-color: #70B7BA;*/
/*    border: solid #75EDFF 1px;*/
    border-radius: 1000px;
    
    border: 3px solid #70B7BA;
    


}

.two,
.one {
    margin-top: 5em
}

.fourth {
    margin-bottom: 5em;
}

p {
    text-align: justify;
}

.center {
    text-align: center;
}

.email {
    color: #3D4C53;
    font-size: 1em;
}

.span {
    color: #F1433F;
}

.btn-default,
.btn-default:focus {
    background-image: none;
    background-color: #BDC8C9;
    border-color: #3D4C53;
    color: #FFFFFF;
}

.btn-default:hover {
    background-image: none;
    background-color: #F1433F;
    border-color: #3D4C53;
    color: #FFFFFF;
}

.input-group {
    padding: 5px;
}

.btn-default:active:hover {
    background-image: none;
    background-color: #70B7BA;
    border-color: #3D4C53;
    color: #3D4C53;
}