<div class="fullSplash">

    <h1 class="cuteNav2">
    
    <a ng-click="scroll()" class="prev" href="#/character/{{ charKey }}/{{ prevArrayKey }}">Previous</a>
    
    <a ng-click="scroll()" class="back" href="#/character/{{ charKey }}">Back</a>
    
    <a ng-click="scroll()" class="next" href="#/character/{{ charKey }}/{{ nextArrayKey }}">Next</a>
    
    </h1>
    <img class="col-xs-10 col-xs-offset-1" ng-src="http://ddragon.leagueoflegends.com/cdn/img/champion/splash/{{ charKey }}_{{ skinKey }}.jpg" alt="">

</div>